<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="../assets/images/icon-16.png">
	<link rel="stylesheet" type="text/css" href="../assets/css/options.css">

	<title>Block IT For Me</title>
</head>
<body>
	<div class="blockitforme-progress-bar-overlay">
		<div class="blockitforme-progress-bar"></div>
	</div>

	<!-- blockitforme-nav-menu -->
	<div class="blockitforme-nav-menu">
		<ul>
			<li><a href=""><img src="../assets/images/icon-32.png"></a></li>
		</ul>
	</div>
	<!-- blockitforme-nav-menu -->

	<div class="blockitforme-options-page-content">
		<div class="blockitforme-options-page-title">
			<h1 style="float: left;">Block It For Me</h1>
		</div>

		<div class="blockitforme-card">
			<div class="blockitforme-card-header">
				<div class="blockitforme-card-title">
					<h2>Blocked Websites</h2>
				</div>
			</div>
			<div class="blockitforme-card-body">
				<div class="mb-1">
					<div>
						<input type="text" name="newWebsite" id="newWebsite">
						<button id="btnAddSite"><svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> Add</button>
					</div>
				</div>

				<ul class="blockitforme-websites-list" id="blockedWebsitesList"></ul>
			</div>
		</div>
	</div>

	<template id="sitesListTemplate">
		<li class="blockitforme-websites-list-item">
			<div class="view-website-container">
				<h3 class="siteURL" style="float: left;"></h3>
				<div class="siteActionButtons">
					<button class="btnEditSite" title="Edit">
						<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
					</button>
					<button class="btnRemoveSite btnDelete" title="Delete">
						<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
					</button>
				</div>
			</div>
			<div class="edit-website-container">
				<input type="text" class="editingSite">
				<div class="siteActionButtons">
					<button class="btnSaveEditedSite" title="Save">
						<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
					</button>
					<button class="btnCancelEditSite btnDelete" title="Cancel Changes">
						<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
					</button>
				</div>
			</div>
		</li>
	</template>

	<script src="../assets/js/common.js"></script>
	<script src="../assets/js/options.js"></script>

</body>
</html>